<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Atelier Ansible</title>
</head>
<body>
  <h1>Déploiement réalisé par koupie</h1>
  <p>Déployé par : koupie</p>
  <p>Utilisateur système : valery</p>
</body>
</html>